@model Pagination<CarViewModel>

@{
    HashSet<string> customers = new();
    customers = (HashSet<string>)ViewData["Customers"];
    HashSet<string> makes = ViewData["Makes"] as HashSet<string>;
}

<h3 class="text-center">Cars</h3>

<div class="text-lg-end">
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</div>

<div>
    <form asp-action="Index" method="post" enctype="multipart/form-data">
        <div>
            <p>
                <input type="text" name="searchText" placeholder="Code" />
                <br />
                <br />
                <select name="make">
                    <option>Select Make</option>
                    @foreach (var make in makes)
                    {
                        <option>@make</option>
                    }
                </select>
                <br />
                <br />
                <select name="customer">
                    <option>Select Customer</option>
                    @foreach (var customer in customers)
                    {
                        <option>@customer</option>
                    }
                </select>
                <br />
                <br />
                <button type="submit" class="btn btn-outline-dark">Search</button>
            </p>

            <table class="table table-striped table-light">
                <thead class="text-dark">
                    <tr>
                        <th>Code</th>
                        <th>Make</th>
                        <th>Model</th>
                        <th>Image</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var car in Model.DataSet)
                    {
                        <tr>
                            <td>@car.Code</td>
                            <td>@car.Make</td>
                            <td>@car.Model</td>
                            <td>
                                <img src="~/Images/Cars/@car.ImageUrl" width="100" height="100" asp-append-version="true" />
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-Id="@car.Id" class="btn btn-primary">Edit</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <div class="container m-3">
                @for (int i = 1; i <= Model.PageCount; i++)
                {
                    @if (i != Model.PageIndex)
                    {
                        <input type="submit" name="pageIndex" class="btn btn-outline-info" value="@i" />
                    }
                    else
                    {
                        <span class="btn btn-info">@i</span>
                    }
                }

                Items per page:
                <select asp-for="PageSize">
                    @for (int i = 1; i <= 15; i++)
                    {
                        <option value="@i">@i</option>
                    }
                </select>
                <input type="submit" class="btn btn-secondary" value="Confirm" />
            </div>
        </div>
    </form>
</div>